* {
  margin-left: 0cm;
  margin-right: 0cm;
  padding: cm;
  box-sizing: border-box;
  font-size: small;
}
.order-container {
  margin-left: 25%;
  height: fit-content;
  width: 80vh;
  border: 1px solid black;
  display: grid;
  grid-template-rows: (4, 1fr);
  grid-template-columns: (4, 1fr);
}

.left {
  float: left;
  position: relative;
}

.right {
  float: right;
  position: relative;
}

.newline {
  clear: both;
}

.orderbox {
  background-color: darkgray;
  border: 1px solid black;
  padding: 20;
}

.box-1 {
  grid-column: 1 / 5;
  text-align: center;
}
.box-2 {
  grid-column: 1/5;
  text-indent: 10px;
}

.box-3 {
  grid-column: 1;
  text-align: center;
}
.box-4 {
  grid-column: 2;
  text-align: center;
}
.box-5 {
  grid-column: 3;
  text-align: center;
}
.box-6 {
  grid-column: 4;
  text-align: center;
}
.box-7 {
  grid-column: 1;
  text-align: center;
}
.box-8 {
  grid-column: 2;
  text-align: center;
}
.box-9 {
  grid-column: 3;
  text-align: center;
}
.box-10 {
  grid-column: 4;
  text-align: center;
}
